<div class="main top-main">
  <div class="top-message">
    <h2>クライアント情報一覧</h2>
    <p>知りたいクライアントの情報を探してみよう！</p>
    <br>
    <br>
    <div class="top-message2">
      <h1>経営理念</h1>
        <div class="top-message3">
          <p>『調和と革新』</p>
          人の幸せとは人と人の関わり合い。
          関わる全ての人々の幸福と社会への貢献をするために、
          <br>
          調和を第一に掲げ持続的発展に向かい挑戦をしていく。
        </div>
    </div>
  </div>
</div>
