<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <div class="form">
      <%= form_tag("/posts/#{@post.id}/updateagreement") do %>
      <div class="form-body">
        <textarea name="agreement"><%= @post.agreement %></textarea>
        <input type="submit" value="保存">
      </div>
      <% end %>
    </div>
  </div>
</div>
